
<%- include('./partials/header') %>
<%- include('./partials/sidenav') %>
<body oncontextmenu="return false;">

    <header id="header" class="default">
        <div class="container">
          <%- include('../partials/flashMessage') %>
        </div>
      </header>

      <main class="body-content">
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ms-panel">
                  <div class="ms-panel-header">
                    <h6>Update Profile </h6>
                  </div>
                  <div class="ms-panel-body">
                    <form method="POST"  action="/admin/editProfile" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleEmail">Full Name</label>
                        <input type="text" required value="<%=user.fullName%>" name="fullName" class="form-control" id="exampleEmail" placeholder="Full Name">
                      </div>
                      <div class="form-group">
                        <label for="exampleEmail">Where Are You Live?</label>
                        <input type="text" required value="<%=user.address%>" name="address" class="form-control" id="exampleEmail" placeholder="Address">
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea">Description</label>
                        <textarea class="form-control" required name="description" id="exampleTextarea" rows="3">   <%=user.description%> </textarea>
                      </div>
                      <div class="form-group">
                        <label for="exampleEmail">Email Address</label>
                        <input type="email" required value="<%=user.email%>" name="email" class="form-control" id="exampleEmail" placeholder="Email Address">
                      </div>

                      <div class="form-group">
                        <label for="exampleEmail">Phone Number</label>
                        <input type="text" required value="<%=user.phoneNumber%>" name="phoneNumber" class="form-control" id="exampleEmail" placeholder="Phone Number">
                      </div>
                      
                      <div class="form-group">
                        <label for="exampleEmail">Website</label>
                        <input type="text" required value="<%=user.website%>" name="website" class="form-control" id="exampleEmail" placeholder="Website">
                      </div>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="image" accept="image/*">
                        <label class="custom-file-label" for="validatedCustomFile">Upload Avatar</label>
                      </div>
                      <input type="submit" class="btn btn-success d-block w-100" name="btn100" value="Submit">
                    </form>
                  </div>
                </div>
              </div>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>