<%- include('./partials/header') %>
<%- include('./partials/sidenav') %>
<%- include('../partials/flashMessage') %>
  <!-- Main Content -->
  <main class="body-content">
    <!-- Navigation Bar -->
   
    <div class="ms-content-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="ms-panel">
            <div class="ms-panel-header">
              <h6>Order Info </h6>
            </div>
            <div class="ms-panel-body">
              <div class="table-responsive">
                <table class="table table-hover thead-primary">
                  <thead>
                    <tr>
                      <th scope="col">Order ID</th>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Location</th>
                      <th scope="col">Order Status</th>
                      <th scope="col">Order Date</th>
                      <th scope="col">Order Time</th>
                      <th scope="col">Price</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var index = 1 %>
                      <tr>
                        <th scope="row"> <%= index %> </th>
                        <td> <%= order.customer.username %> </td>
                        <td> <%= order.customer.address %> </td>

                        <td><span class="badge badge-warning"> <%= order.status %>  </span>
                        </td>
                        <td> <%= order.timeOfOrder.toDateString() %>  </td>
                        <td> <%= order.timeOfOrder.toTimeString() %>  </td>
                        <td> <%= order.totalCost %>  </td>
                        <td> 
                            <% if(order.status == 'Accepted'){ %>  
                                <form>
                                    <button onclick="sendForDelivery()" class="badge badge-primary"> Send For Delivery </button> 
                                </form>   
                                <form>
                                    <button onclick="cancelOrder()" class="badge badge-primary"> Cancel Order </button> 
                                </form>   
                            <%}else if(order.status == 'onTheWay'){ %> 
                                <form >
                                    <button onclick="confirmDelivery()" class="badge badge-warning"> Confirm Delivery </button> 
                                </form>    
                            <%} %>
                            
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
            <div class="ms-panel">
              <div class="ms-panel-header">
                <h6>Products </h6>
              </div>
              <div class="ms-panel-body">
                <div class="table-responsive">
                  <table class="table table-hover thead-primary">
                    <thead>
                      <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% order.products.forEach( everyProduct => { %> 
                            <% var eachProduct = everyProduct.product %>
                            <tr>
                                <td class="ms-table-f-w"> <img src="<%=eachProduct.images[0]%>" alt="img"> </td>
                                <!-- <td>French Fries</td> -->
                                <td> <%= eachProduct.title %> </td>
                                <td> <%= everyProduct.quantity %> </td>
                                <td> <%= eachProduct.price %> </td>
                            </tr>
                        <% } ) %>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

  <script>
    
      function sendForDelivery() {
        var orderId =  <%- JSON.stringify(order._id) %> 
            var order = {
                orderDetails :  <%- JSON.stringify(order) %> ,
            }
            socket.emit("sendForDelivery",order);
            var url = `/admin/sendForDelivery-${orderId}`
            postData(url,order)
            .then(data => {
                console.log(data.redirect); // JSON data parsed by `data.json()` call
                window.location.replace(data.redirect)
            });
         }

        function cancelOrder() {
        var orderId =  <%- JSON.stringify(order._id) %> 
            var order = {
                orderDetails :  <%- JSON.stringify(order) %> ,
            }
            socket.emit("cancelOrder",order);
            var url = `/admin/cancelOrder-${orderId}` 
            postData(url,order)
            .then(data => {
                console.log(data.redirect); // JSON data parsed by `data.json()` call
                window.location.replace(data.redirect)
            });
         }

        function confirmDelivery() {
        var orderId =  <%- JSON.stringify(order._id) %> 
            var order = {
                orderDetails :  <%- JSON.stringify(order) %> ,
            }
            socket.emit("confirmDelivery",order);
            var url = `/admin/confirmDelivery-${orderId}` 
            postData(url,order)
            .then(data => {
                console.log(data.redirect); // JSON data parsed by `data.json()` call
                window.location.replace(data.redirect)
            });
         }

        async function postData(url = '', data = {}) {
                // Default options are marked with *
                const response = await fetch(url, {
                    method: 'POST', // *GET, POST, PUT, DELETE, etc.
                    mode: 'cors', // no-cors, *cors, same-origin
                    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                    credentials: 'same-origin', // include, *same-origin, omit
                    headers: {
                    'Content-Type': 'application/json'
                    // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    redirect: 'follow', // manual, *follow, error
                    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
                    body: JSON.stringify(data) // body data type must match "Content-Type" header
                });
                return response.json(); // parses JSON response into native JavaScript objects
            }

  </script>
  
<%- include('./partials/footer') %>