<%- include('./partials/header') %>

  <main class="body-content ms-lock-screen">
    <div class="ms-content-wrapper">
      <img class="ms-user-img ms-img-round ms-lock-screen-user" src="../../assets/img/costic/customer-3.jpg" alt="people">
      <h1> <%= otp.username %> </h1>
      <form method="POST" action="/admin/verifyOtp-<%=otp.id%>" >
        <div class="ms-form-group my-0 mb-0 has-icon fs-14">
          <input type="text" class="ms-form-input" name="enteredOtp" required placeholder="Enter OTP"  >
          <i class="material-icons">security</i>
        </div>
        <br>
        <%- include('../partials/flashMessage') %>
        <button type="submit" class="btn bg-black w-100">Submit</button>
      </form>
    </div>
  </main>

<%- include('./partials/footer') %>