<%- include('./partials/header') %>
<body oncontextmenu="return false;">

    <header id="header" class="default">
        <%- include('./partials/topMenu') %>
        <div class="container">
          <%- include('./partials/flashMessage') %>
        </div>
      </header>

        <section class="upload-recipe-video">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="new-heading">
                            <h1> Edit Product Details </h1>
                        </div>
                    </div>
                </div>
                <form method="POST"  action="/editProduct-<%=product.id%>" enctype="multipart/form-data" >
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 col-sm-10">
                            <div class="form-container">
                                <div class="form-group">
                                    <label for="videoTitle">Title</label>
                                    <input required value="<%=product.title%>" name="title" type="text" class="video-form" id="videoTitle" placeholder="Title or Name">
                                </div>
                                <div class="form-group">
                                    <label for="videoTitle">Price</label>
                                    <input required value="<%=product.price%>" name="price" type="text" class="video-form" id="videoTitle" placeholder="Price">
                                </div>
                                <div class="form-group">
                                    <label for="videoDescription">Description</label>
                                    <input required value="<%=product.description%>" name="description" type="text" class="text-area" id="videoDescription" placeholder="Description">
                                </div>
                               
                                <div class="form-group">
                                    <select required name="category" class="form-control form-control-lg" style="color: black;" id="exampleFormControlSelect1">
                                      <option style="font-size: 1.3em;" disabled>Category</option>
                                      <option value="Breakfast" style="font-size: 1.3em;">Breakfast</option>
                                      <option value="Lunch" style="font-size: 1.3em;">Lunch</option>
                                      <option value="Dinner" style="font-size: 1.3em;">Dinner</option>
                                      <option value="Snacks" style="font-size: 1.3em;">Snacks</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select required name="offer" class="form-control form-control-lg" style="color: black;" id="exampleFormControlSelect1">
                                      <option style="font-size: 1.3em;" disabled>Offer</option>
                                      <option value="10% off" style="font-size: 1.3em;">10% off</option>
                                      <option value="20% off" style="font-size: 1.3em;">20% off</option>
                                      <option value="30% off" style="font-size: 1.3em;">30% off</option>
                                      <option value="40% off" style="font-size: 1.3em;">40% off</option>
                                      <option value="50% off" style="font-size: 1.3em;">50% off</option>
                                      <option value="60% off" style="font-size: 1.3em;">60% off</option>
                                      <option value="70% off" style="font-size: 1.3em;">70% off</option>
                                      <option value="80% off" style="font-size: 1.3em;">80% off</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="videoTitle">Delivery Charge</label>
                                    <input required value="<%=product.deliveryCharge%>" name="deliveryCharge" type="text" class="video-form" id="videoTitle" placeholder="Delivery Charge">
                                </div>
                                <div class="form-group">
                                    <label for="videoTitle">Delivery Time</label>
                                    <input required value="<%=product.deliveryTime%>" name="deliveryTime" type="text" class="video-form" id="videoTitle" placeholder="Delivery Time">
                                </div>
                                <div class="form-group">
                                    <label for="file1">Upload Images(At max 4)</label>
                                    <div class="image-upload-wrap">
                                        <input  class="file-upload-input" id="file1" type='file' name="image" multiple accept="image/*" />
                                        <div class="drag-text">
                                            <i class="fas fa-cloud-upload-alt"></i>
                                            <h4>Select files to upload</h4>
                                        </div>
                                    </div>
                                    <!-- <div class="input-container">
                                        <input class="file-upload-input"  type="file" name="image" id="image" multiple>
                                        <button class="browse-btn">
                                            Choose File
                                        </button>
                                        <span class="file-info">Upload a file</span>
                                    </div> -->
                                </div>
                                  
                                <div class="sends">
                                    <input type="submit" value="Upload Now" class=" btn-link">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>

<%- include('./partials/footer') %></div>