<%- include('./partials/header') %>
<body oncontextmenu="return false;">
  <header id="header" class="default">
    <%- include('./partials/topMenu') %>
    <div class="container"><%- include('./partials/flashMessage') %></div>
  </header>

  <section class="block-preview">
    <div
      class="cover-banner"
      style="background-image: url(images/homepage/banner.jpg)"
    ></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
          <div class="left-text-b">
            <h1 class="title">Choose, Order and Checkout</h1>
            <h6 class="exeption">
              Specify your address to suggest you the fast delivery
            </h6>
            <p>Get our services from 24 hours.</p>
            <a class="bnr-btn btn-link" href="/allProducts">Go To Meal</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="browse-places">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-12">
          <div class="contact-heading">
            <h1>Show your interest !</h1>
          </div>
          <div class="contact-info">
            <form method="POST" action="/feedback">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label for="userName">Name</label>
                    <% var name = "" %>
                    <% if(user){ %> 
                      <% name = user.username %>
                    <%}  %>
                    <input
                    type="text"
                    required
                    class="video-form"
                    name="name" id="name"
                    placeholder="Your Name"
                    value="<%=name%>"
                  />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <% var email = "" %>
                    <% if(user){ %>
                      <% email = user.email %>
                    <%} %>
                    <input
                        type="email"
                        required
                        class="video-form"
                        id="email" name="email"   
                        placeholder="Your Email"
                        value="<%=email%>"
                      />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label for="telNumber">Address</label>
                    <% var address = "" %>
                    <% if(user){%> 
                      <% if(user.address){ %> 
                        <% address = user.address %>
                      <% } } %> 
                      <input
                        type="tel"
                        required
                        class="video-form"
                        id="address" name="address"
                        id="telNumber"
                        placeholder="Short Address"
                        value="<%=address%>"
                      />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-group">
                    <label for="webSite">Expected cost of a Meal Box? (in GBP)</label>
                    <input
                      type="Text"
                      required
                      class="video-form"
                      id="cost" name="cost"
                      placeholder="Expected Cost"
                    />
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <div class="form-group">
                    <label for="typeMessage">Message</label>
                    <textarea
                      class="text-area"
                      required
                      id="message" name="message"
                      placeholder="Type Message"
                    ></textarea>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <button type="submit" class="contact-btn btn-link">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    </div>
</section>

  <section class="how-to-work">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="work-item">
            <div class="work-img">
              <img src="images/homepage/how-to-work/img_2.svg" alt="" />
            </div>
            <div class="work-text">
              <p>
                <h4>Choose Food</h4>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="work-item">
            <div class="work-img">
              <img src="images/homepage/how-to-work/img_3.svg" alt="" />
            </div>
            <div class="work-text">
              <p>
                <h4>  Delivery </h4>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="quick-searches">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="new-heading">
            <h1>Quick Searches</h1>
          </div>
          <div class="sub-title">Discover Meals By Type of Meal</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8">
          <div class="all-meals">
            <div class="row justify-content-center">
              <div class="col-lg-10 col-md-8">
                <div class="owl-carousel searchs-owl owl-theme">
                  <div class="item">
                    <a href="#">
                      <div class="meal-icon">
                        <img
                          src="images/homepage/quick-searches/meal-1.svg"
                          alt=""
                        />
                      </div>
                      <div class="meal-title">Breakfast</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="meal-icon">
                        <img
                          src="images/homepage/quick-searches/meal-2.svg"
                          alt=""
                        />
                      </div>
                      <div class="meal-title">Lunch</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="meal-icon">
                        <img
                          src="images/homepage/quick-searches/meal-3.svg"
                          alt=""
                        />
                      </div>
                      <div class="meal-title">Dinner</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="meal-icon">
                        <img
                          src="images/homepage/quick-searches/meal-4.svg"
                          alt=""
                        />
                      </div>
                      <div class="meal-title">Cafe's</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="#">
                      <div class="meal-icon">
                        <img
                          src="images/homepage/quick-searches/meal-5.svg"
                          alt=""
                        />
                      </div>
                      <div class="meal-title">Delivery</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pocket-block-preview">

</section> 

  <%- include('./partials/footer') %>
</body>
