<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
           
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>

    <%- include('./partials/myAccountSection') %>
    
    <section class="all-profile-details">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12">
            <div class="left-tab-links">
              <div
                class="nav nav-pills nav-stacked nav-tabs ui vertical menu fluid"
              >
                <!-- <a
                  href="#timeline"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer active"
                  >Timeline</a
                > -->
                <a
                  href="#about"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer active"
                  >About</a
                >
                <!-- <a
                  href="#notifications"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Notifications <span class="n-badge">2</span></a
                > -->
                <a
                  href="#photos"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  id="bookmarks"
                  data-tab="bookmarks"
                  >Photos</a
                >
                <!-- <a
                  href="#followers"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Followers</a
                >
                <a
                  href="#following"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Following</a
                > -->
                <!-- <a
                  href="#recently-viewed-restaurants"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Recently Viewed Restaurants</a
                > -->
    
                <a
                  href="#my-orders"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >My Order</a
                >
                <a
                  href="#order-history"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Order History</a
                >
                <a
                  href="#manage-cards"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Manage Cards</a
                >
                <a
                  href="#manage-wallets"
                  data-toggle="tab"
                  class="item user-tab cursor-pointer"
                  >Manage Wallets</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-8 col-12">
            <div class="tab-content">
            
              <div class="tab-pane active" id="about">
                <div class="profile-about">
                  <div class="tab-content-heading">
                    <h4>About</h4>
                    <a href="/settings"
                      ><i class="far fa-edit"></i>Edit Info</a
                    >
                  </div>
                  <div class="about-dtp">
                    <div class="about-bg">
                      <ul>
                        <li>
                          <div class="dp-detail">
                            <h6>Ful Name</h6>
                            <p> <%= user.fullName %> </p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Location</h6>
                            <p> <%= user.address %> </p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Mobile Number</h6>
                            <p><%= user.phoneNumber %></p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Email Address</h6>
                            <p>
                              <a
                                href="https://gambolthemes.net/cdn-cgi/l/email-protection"
                                class="__cf_email__"
                                data-cfemail="b4fedbdcdad0dbd1f4d3d9d5ddd89ad7dbd9"
                                >[email&#160;protected]</a
                              >
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Personal Website</h6>
                            <p><%= user.website %></p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Description About Yopur Self</h6>
                            <p>
                              <%= user.description %>
                            </p>
                          </div>
                        </li>
                        <li>
                          <div class="dp-detail">
                            <h6>Social Accounts</h6>
                            <div class="my-social-links">
                              <a href="#" class="socail-btn-link f-btn"
                                ><i class="fab fa-facebook-f"></i
                              ></a>
                              <a href="#" class="socail-btn-link t-btn"
                                ><i class="fab fa-twitter"></i
                              ></a>
                              <a href="#" class="socail-btn-link g-btn"
                                ><i class="fab fa-google"></i
                              ></a>
                              <a href="#" class="socail-btn-link i-btn"
                                ><i class="fab fa-instagram"></i
                              ></a>
                              <a href="#" class="socail-btn-link y-btn"
                                ><i class="fab fa-youtube"></i
                              ></a>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="notifications">
                <div class="profile-about">
                  <div class="tab-content-heading">
                    <h4>Notifications</h4>
                    <a href="/settings"><i class="fas fa-cog"></i>Setting</a>
                  </div>
                  <div class="noti-all">
                    <div class="noti-bg">
                      <ul>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-1.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Jassica William</h4>
                              <p>comment on your Video.</p>
                              <div class="n-comment-date">2 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-2.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Johnson Smith</h4>
                              <p>
                                reply on your comment in Restro Restaurant
                                rating.
                              </p>
                              <div class="n-comment-date">4 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-3.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Rock Hunter</h4>
                              <p>reply on your comment in recipe video.</p>
                              <div class="n-comment-date">10 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-4.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Jassica William</h4>
                              <p>following you.</p>
                              <div class="n-comment-date">10 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-5.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Joy Smith</h4>
                              <p>rating your video.</p>
                              <div class="n-comment-date">15 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-6.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Order Request</h4>
                              <p>2 Burn Burger Request.</p>
                              <div class="n-comment-date">20 min ago</div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="n-media">
                            <div class="n-media-left">
                              <img src="images/profile/noti-7.png" alt="" />
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">Congratulations!</h4>
                              <p>Your order is delivered.</p>
                              <div class="n-comment-date">22 min ago</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="photos">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Photos</h4>
                  </div>
                  <div class="about-dtp">
                    <div class="photo-bg">
                      <div class="gallery-pf">
                        <div class="row">
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-1.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-2.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-3.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-4.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-5.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-6.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-7.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-8.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="photo-gallery">
                              <img
                                src="images/restaurant-detail/photo-2.jpg"
                                alt=""
                              />
                              <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="followers">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Followers</h4>
                  </div>
                  <div class="about-dtp">
                    <div class="follow-bg">
                      <ul>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-1.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Jassica William</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Follow</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-2.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Johnson Smith</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Follow</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-3.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>John Doe</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Follow</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-5.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Rock Willliam</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Follow</button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="following">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Followings</h4>
                  </div>
                  <div class="about-dtp">
                    <div class="follow-bg">
                      <ul>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-1.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Jassica William</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Following</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-2.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Johnson Smith</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Following</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-3.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>John Doe</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Following</button>
                          </div>
                        </li>
                        <li>
                          <div class="suggestion-usd-2">
                            <a href="user_profile_view.html"
                              ><img src="images/profile/noti-5.png" alt=""
                            /></a>
                            <div class="sgt-text-2">
                              <a href="user_profile_view.html"
                                ><h4>Rock Willliam</h4></a
                              >
                              <p>
                                <span
                                  ><i class="fas fa-map-marker-alt"></i
                                ></span>
                                Sydney, Australia
                              </p>
                              <p></p>
                            </div>

                            <button class="btn-link">Following</button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="recently-viewed-restaurants">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Recently Viewed Restaurants</h4>
                  </div>
                  <div class="about-dtp">
                    <div class="recently-resto-bg">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-6 col-md-6 col-12 pm-right">
                            <div class="visit-restaurants">
                              <div class="recently-resto-picy">
                                <a href="restaurant_detail.html"
                                  ><img src="images/profile/view-1.jpg" alt=""
                                /></a>
                              </div>
                              <div class="recently-resto-dt">
                                <a href="restaurant_detail.html"
                                  ><h4>Restaurant Name</h4></a
                                >
                                <p>
                                  <span
                                    ><i class="fas fa-map-marker-alt"></i
                                  ></span>
                                  Sydney, Australia
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 pm-left">
                            <div class="visit-restaurants">
                              <div class="recently-resto-picy">
                                <a href="restaurant_detail.html"
                                  ><img src="images/profile/view-2.jpg" alt=""
                                /></a>
                              </div>
                              <div class="recently-resto-dt">
                                <a href="restaurant_detail.html"
                                  ><h4>Restaurant Name</h4></a
                                >
                                <p>
                                  <span
                                    ><i class="fas fa-map-marker-alt"></i
                                  ></span>
                                  Sydney, Australia
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 pm-right">
                            <div class="visit-restaurants">
                              <div class="recently-resto-picy">
                                <a href="restaurant_detail.html"
                                  ><img src="images/profile/view-3.jpg" alt=""
                                /></a>
                              </div>
                              <div class="recently-resto-dt">
                                <a href="restaurant_detail.html"
                                  ><h4>Restaurant Name</h4></a
                                >
                                <p>
                                  <span
                                    ><i class="fas fa-map-marker-alt"></i
                                  ></span>
                                  Sydney, Australia
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-12 pm-left">
                            <div class="visit-restaurants">
                              <div class="recently-resto-picy">
                                <a href="restaurant_detail.html"
                                  ><img src="images/profile/view-4.jpg" alt=""
                                /></a>
                              </div>
                              <div class="recently-resto-dt">
                                <a href="restaurant_detail.html"
                                  ><h4>Restaurant Name</h4></a
                                >
                                <p>
                                  <span
                                    ><i class="fas fa-map-marker-alt"></i
                                  ></span>
                                  Sydney, Australia
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
         
              <div class="tab-pane" id="my-orders">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>My Order</h4>
                    <% if(user.currentOrder){ %> 
                      <a target="_blank" href="/getInvoice-<%=user.currentOrder.id%>"> Get Invoice </a>
                    <%} %>
                  </div>
                  <div class="my-orders">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                        <div class="my-checkout">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <td class="td-heading">Meal</td>
                                  <!-- <td class="td-heading">Qty</td> -->
                                  <td class="td-heading">Price</td>
                                  <td class="td-heading">Action</td>
                                </tr>
                              </thead>
                              <tbody>

                              <% if(user.currentOrder){ %> 
                                <% user.currentOrder.products.forEach( eachProduct => { %> 
                                  <tr>
                                    <td>
                                      <div class="checkout-thumb-2">
                                        <a href="productDetail-<%=eachProduct.id%>">
                                          <img
                                            src="<%=eachProduct.images[0]%>"
                                            class="img-responsive"
                                            alt="thumb"
                                            title="thumb"
                                          />
                                        </a>
                                      </div>
                                      <div class="name-dt">
                                        <a href="productDetail-<%=eachProduct.id%>"
                                          ><h4> <%= eachProduct.title %> </h4></a
                                        >
                                        <a href="restaurant_detail.html"
                                          ><p>Restaurant Name</p></a
                                        >
                                      </div>
                                    </td>
                                    <!-- <td class="td-content">2</td> -->
                                    <td class="td-content"> <%= eachProduct.price %>  </td>
                                    <td>
                                      <button
                                        class="trace-btn btn-link"
                                        data-toggle="modal"
                                        data-target="#trace"
                                      >
                                        Trace
                                      </button>
                                      <button class="invoice-btn btn-link">
                                        <i class="far fa-file-alt"></i>
                                      </button>
                                      <button class="trash-btn btn-link">
                                        <i class="far fa-trash-alt"></i>
                                      </button>
                                      <div
                                        class="modal fade"
                                        tabindex="-1"
                                        id="trace"
                                        role="dialog"
                                        aria-hidden="true"
                                      >
                                        <div class="modal-dialog modal-xl">
                                          <div class="modal-content">
                                            <div class="trace-model">
                                              <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal"
                                                aria-hidden="true"
                                              >
                                                ×
                                              </button>
                                              <div class="container mb-1">
                                                <div class="row no-gutters">
                                                  <div
                                                    class="col-lg-8 col-md-6 col-12"
                                                  >
                                                    <div class="trace-map">
                                                      <img
                                                        src="images/profile/trace-map.jpg"
                                                        alt=""
                                                      />
                                                      <iframe
                                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6848.588137286094!2d75.8069355495411!3d30.878433570394723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a822f25912599%3A0xa51f780d31824240!2sShaheed+Bhagat+Singh+Nagar%2C+Ludhiana%2C+Punjab!5e0!3m2!1sen!2sin!4v1556363627043!5m2!1sen!2sin"
                                                        style="border: 0"
                                                        allowfullscreen=""
                                                      ></iframe>
                                                      <div
                                                        class="map-location-tooltip-3"
                                                      >
                                                        <div
                                                          class="tooltip tooltip-main-3"
                                                        >
                                                          <span
                                                            class="tooltip-item-3"
                                                          ></span>
                                                          <span
                                                            class="tooltip-content-3"
                                                            >Food Location</span
                                                          >
                                                        </div>
                                                        <div
                                                          class="tooltip tooltip-main-3"
                                                        >
                                                          <span
                                                            class="tooltip-item-3"
                                                          ></span>
                                                          <span
                                                            class="tooltip-content-3"
                                                            >Your Location</span
                                                          >
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div
                                                    class="col-lg-4 col-md-6 col-12"
                                                  >
                                                    <div class="right-order-dt">
                                                      <div class="order-no">
                                                        Order No : 123456
                                                      </div>
                                                      <h1>Restaurant Name</h1>
                                                      <div
                                                        class="resto-trace-star"
                                                      >
                                                        <i
                                                          class="fas fa-star"
                                                        ></i>
                                                        <i
                                                          class="fas fa-star"
                                                        ></i>
                                                        <i
                                                          class="fas fa-star"
                                                        ></i>
                                                        <i
                                                          class="fas fa-star"
                                                        ></i>
                                                        <i
                                                          class="far fa-star"
                                                        ></i>
                                                        <span>4.5/5</span>
                                                      </div>
                                                      <div class="trace-steps">
                                                        <ul>
                                                          <li class="active">
                                                            <div
                                                              class="steps-names"
                                                            >
                                                              Order Accepted
                                                            </div>
                                                          </li>
                                                          <li class="active">
                                                            <div
                                                              class="steps-names"
                                                            >
                                                              Food Ready
                                                            </div>
                                                          </li>
                                                          <li>
                                                            <div
                                                              class="steps-names"
                                                            >
                                                              On The Way
                                                            </div>
                                                          </li>
                                                        </ul>
                                                      </div>
                                                      <div
                                                        class="payment-method-dt"
                                                      >
                                                        <div class="attr-l">
                                                          Payment Method
                                                        </div>
                                                        <div class="attr-r">
                                                          Cash on Delivery
                                                        </div>
                                                      </div>
                                                      <div
                                                        class="payment-method-dt"
                                                      >
                                                        <div class="attr-l">
                                                          Discount Offer
                                                        </div>
                                                        <div class="attr-r">
                                                          Natto50
                                                        </div>
                                                      </div>
                                                      <div class="payment-tol-dt">
                                                        <div class="attr-l2">
                                                          Total
                                                        </div>
                                                        <div class="attr-r2">
                                                          $13
                                                        </div>
                                                      </div>
                                                      <div
                                                        class="payment-method-dt"
                                                      >
                                                        <div class="attr-l">
                                                          Estimated Delivery Time
                                                        </div>
                                                        <div class="attr-r">
                                                          35 min
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                <% } ) %>
                              <%} %>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="order-history">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Order History</h4>
                  </div>
                  <div class="my-orders">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-12">
                        <div class="my-checkout">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <td class="td-heading">Meal</td>
                                  <td class="td-heading">Qty</td>
                                  <td class="td-heading">Price</td>
                                  <td class="td-heading">Action</td>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="checkout-thumb-2">
                                      <a href="meal_detail.html">
                                        <img
                                          src="images/profile/order-1.jpg"
                                          class="img-responsive"
                                          alt="thumb"
                                          title="thumb"
                                        />
                                      </a>
                                    </div>
                                    <div class="name-dt">
                                      <a href="meal_detail.html"
                                        ><h4>Hum Burgar</h4></a
                                      >
                                      <a href="restaurant_detail.html"
                                        ><p>Restaurant Name</p></a
                                      >
                                    </div>
                                  </td>
                                  <td class="td-content">2</td>
                                  <td class="td-content">$22.00</td>
                                  <td>
                                    <button class="trace-btn btn-link">
                                      Completed
                                    </button>
                                    <button class="invoice-btn btn-link">
                                      <i class="far fa-file-alt"></i>
                                    </button>
                                    <button class="trash-btn btn-link">
                                      <i class="far fa-trash-alt"></i>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="checkout-thumb-2">
                                      <a href="meal_detail.html">
                                        <img
                                          src="images/profile/order-2.jpg"
                                          class="img-responsive"
                                          alt="thumb"
                                          title="thumb"
                                        />
                                      </a>
                                    </div>
                                    <div class="name-dt">
                                      <a href="meal_detail.html"
                                        ><h4>Cheese Pizza</h4></a
                                      >
                                      <a href="restaurant_detail.html"
                                        ><p>Restaurant Name</p></a
                                      >
                                    </div>
                                  </td>
                                  <td class="td-content">1</td>
                                  <td class="td-content">$18.00</td>
                                  <td>
                                    <button class="trace-btn btn-link">
                                      Completed
                                    </button>
                                    <button class="invoice-btn btn-link">
                                      <i class="far fa-file-alt"></i>
                                    </button>
                                    <button class="trash-btn btn-link">
                                      <i class="far fa-trash-alt"></i>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="checkout-thumb-2">
                                      <a href="meal_detail.html">
                                        <img
                                          src="images/profile/order-3.jpg"
                                          class="img-responsive"
                                          alt="thumb"
                                          title="thumb"
                                        />
                                      </a>
                                    </div>
                                    <div class="name-dt">
                                      <a href="meal_detail.html"
                                        ><h4>Veg Noodles</h4></a
                                      >
                                      <a href="restaurant_detail.html"
                                        ><p>Restaurant Name</p></a
                                      >
                                    </div>
                                  </td>
                                  <td class="td-content">1</td>
                                  <td class="td-content">$20.00</td>
                                  <td>
                                    <button class="trace-btn btn-link">
                                      Completed
                                    </button>
                                    <button class="invoice-btn btn-link">
                                      <i class="far fa-file-alt"></i>
                                    </button>
                                    <button class="trash-btn btn-link">
                                      <i class="far fa-trash-alt"></i>
                                    </button>
                                  </td>
                                </tr>
                                <tr>
                                  <td>
                                    <div class="checkout-thumb-2">
                                      <a href="meal_detail.html">
                                        <img
                                          src="images/profile/order-4.jpg"
                                          class="img-responsive"
                                          alt="thumb"
                                          title="thumb"
                                        />
                                      </a>
                                    </div>
                                    <div class="name-dt">
                                      <a href="meal_detail.html"
                                        ><h4>Chicken Masala</h4></a
                                      >
                                      <a href="restaurant_detail.html"
                                        ><p>Restaurant Name</p></a
                                      >
                                    </div>
                                  </td>
                                  <td class="td-content">1</td>
                                  <td class="td-content">$25.00</td>
                                  <td>
                                    <button class="trace-btn btn-link">
                                      Completed
                                    </button>
                                    <button class="invoice-btn btn-link">
                                      <i class="far fa-file-alt"></i>
                                    </button>
                                    <button class="trash-btn btn-link">
                                      <i class="far fa-trash-alt"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="manage-cards">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Payments</h4>
                  </div>
                  <div class="payments">
                    <div class="payment-dt">
                      <h4>Manage Cards</h4>
                      <p>No Cards Manage</p>
                    </div>
                    <div class="card-dbt">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-12">
                            <h4>Add New card*</h4>
                            <form>
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="video-form"
                                  id="cardNumber"
                                  name="cardNumber"
                                  placeholder="Card Number"
                                />
                              </div>
                              <div class="form-group">
                                <input
                                  type="text"
                                  class="video-form"
                                  id="cardHolder"
                                  name="cardHolder"
                                  placeholder="Holder Name"
                                />
                              </div>
                              <div class="row">
                                <div class="col-md-4 col-12 pm-right">
                                  <div class="form-group">
                                    <select class="selectpicker" tabindex="-98">
                                      <option value="0">Month</option>
                                      <option value="1">January</option>
                                      <option value="2">February</option>
                                      <option value="3">March</option>
                                      <option value="4">April</option>
                                      <option value="5">May</option>
                                      <option value="6">June</option>
                                      <option value="7">July</option>
                                      <option value="8">August</option>
                                      <option value="9">September</option>
                                      <option value="10">October</option>
                                      <option value="11">November</option>
                                      <option value="12">December</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-4 col-12 pm-left pm-right">
                                  <div class="form-group">
                                    <select class="selectpicker" tabindex="-98">
                                      <option value="0">Year</option>
                                      <option value="1">2019</option>
                                      <option value="2">2020</option>
                                      <option value="3">2021</option>
                                      <option value="4">2022</option>
                                      <option value="5">2023</option>
                                      <option value="6">2024</option>
                                      <option value="7">2025</option>
                                      <option value="8">2026</option>
                                      <option value="9">2027</option>
                                      <option value="10">2028</option>
                                      <option value="11">2029</option>
                                      <option value="12">2030</option>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-md-4 col-12 pm-left">
                                  <div class="form-group">
                                    <input
                                      type="text"
                                      class="video-form"
                                      id="cardCvv"
                                      placeholder="Cvv"
                                    />
                                  </div>
                                </div>
                                <div class="col-md-12 col-12">
                                  <div class="form-group">
                                    <button class="card-btn btn-link">
                                      Add Card
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="manage-wallets">
                <div class="timeline">
                  <div class="tab-content-heading">
                    <h4>Payments</h4>
                  </div>
                  <div class="payments">
                    <div class="payment-dt">
                      <h4>Manage Wallets</h4>
                      <p>No Wallet Manage</p>
                      <div class="wallet-btns">
                        <button class="wallet-btn">
                          <img src="images/profile/payapl.png" alt="" />
                        </button>
                        <button class="wallet-btn">
                          <img src="images/profile/mobiwik.png" alt="" />
                        </button>
                        <button class="wallet-btn">
                          <img src="images/profile/paytm.png" alt="" />
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-12">
            <div class="suggested-peoples h-top">
              <div class="suggestions full-width">
                <div class="sd-title">
                  <h3>Photos</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="suggestions-list">
                  <div class="pf-gallery">
                    <ul>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-1.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-2.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-3.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-4.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-5.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-6.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-7.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-8.jpg" alt=""
                        /></a>
                      </li>
                      <li>
                        <a href="#" title=""
                          ><img src="images/profile/right-9.jpg" alt=""
                        /></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- include('./partials/footer') %>