<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>


    <section class="all-partners">
        <div class="container">
        <div class="row">
        <div class="col-lg-3 col-md-4">
        
        <div class="accordion" id="accordionone">
            <div class="total-cost">
                <div class="total-text">
                    <h5>Total</h5>
                </div>
                <div class="total-price">
                    <p> <%= totalCost %> </p>
                </div>
            </div>
        
        </div>
        <div class="accordion" id="accordionone">
            <div class="order-now-check">
                <!-- <form >
                    
                    <button class="on-btn btn-link " onclick="placeOrder()">Order Now</button>
                </form> -->
                <% if(isOrderAllowed ){%> 
                    <% if(totalCost != 0){ %> 
                        <form method="POST" action="/order" id="importantForm"> 
                            <script
                                src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="pk_test_51I3nnHFmnlpQUlnVG3AdoCKlP6P30y6ZSfa8IaKgH6DPqInvtQgpRaXwUFP3xEAaQVxkeOOl3mPnle1SIFlQxQg000s21G2XJ0"
                                data-amount="<%= totalCost*100 %>" 
                                data-currency="inr" 
                                data-name="FoodBooth" 
                                data-description="Pay For Your Order" 
                                data-locale="auto" > 
                            </script> 
                            <!-- <input />
                            <button type="submit">submit</button> -->
                            <!-- <button class="on-btn btn-link " onclick="placeOrder()">Order Now</button> -->
                        </form> 
                    <%}else{ %> 
                        <button style="color: white;" class="btn btn-info"> Your cart seems to be empty </button>
                    <%} %>
                   
                <%}else{ %> 
                    <button style="color: white;" class="btn btn-danger"> Product Not Available </button>
                <%} %>
              
            </div>
        </div>
        </div>
            <div class="col-lg-9 col-md-8">
            <div class="col-lg-12 col-md-12 m-left m-right">
            <div class="all-meals-show">
            <div class="new-heading">
            <h1> My Cart </h1>
            </div>
            </div>
            </div>
            <div class="row">
                <% var index = 0; %>
                <% products.forEach(everyProduct => { %> 
                   <% var eachProduct = everyProduct.product %>
                   <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="all-meal">
                        <div class="top">
                            <a href="productDetail-<%=eachProduct.id%>"><div class="bg-gradient"></div></a>
                            <div class="top-img">
                                <img src="<%=eachProduct.images[0]%>" alt="">
                            </div>
                            <div class="logo-img">
                                <img src="<%=eachProduct.user.avatar%>" alt="">
                            </div>
                            <div class="top-text">
                                <div class="" style="display: flex; flex-direction: row;">
                                    <h4 style="flex : 1;margin-left: 20px;"><a href="productDetail-<%=eachProduct.id%>" style="color: white;"> <%= eachProduct.title %> </a></h4>
                                    <% var extraClass = "btn-success" %>
                                    <% var btnText = "Available" %>
                                    <% if(eachProduct.isAvailable == "notAvailable"){%> 
                                        <% extraClass = "btn-danger" %>
                                        <% btnText = "Not " + btnText %>
                                    <%} %>
                                    <button style="color: white;" class="btn <%=extraClass%>" > <%= btnText %> </button>
                                </div>
                                <div class="sub-heading">
                                    <h5><a href="restaurant_detail.html"><%= eachProduct.category %></a></h5>
                                    <p><%= eachProduct.price %> * <%= everyProduct.quantity %> </p>
                                </div>
                            </div>
                        </div>
                        <div class="bottom">
                        <div class="bottom-text">
                            <!-- <div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Cost : <%= eachProduct.deliveryCharge %> </div> -->
                            <!-- <div class="time"><i class="far fa-clock"></i>Delivery Time : <%= eachProduct.deliveryTime %></div> -->
                            <div class="star">
                                <a href="/remove-<%=eachProduct.id%>-<%=index%>">
                                    <span> Remove </span>
                                </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                    <% index = index + 1 %>
                <% }) %>
           
            </div>
            </div>
        </div>
        </div>
        <div style="height: 40px;"></div>
    </section>

                
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>

              
<%- include('./partials/footer') %>