<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>


    <section class="all-partners">
        <div class="container">
        <div class="row">
        <div class="col-lg-3 col-md-4">
        <div class="filters partner-bottom">
        <div class="filter-heading">
        <h3>Filters</h3>
        </div>
        <div class="accordion" id="accordionone">
        <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
        <div id="collapseOne" class="collapse show" data-parent="#accordionone">
        <div class="search-area">
        <form>
        <input class="search-area-input" name="search" type="text" placeholder="Search your area">
        <div class="icon-btn">
        <div class="cross-area-icon">
        <i class="fas fa-crosshairs"></i>
        </div>
        </div>
        </form>
        </div>
        <div class="filter-checkbox">
        <p>
        <input type="checkbox" id="c1" name="cb">
        <label for="c1">All</label>
        </p>
        <p>
        <input type="checkbox" id="c2" name="cb">
        <label for="c2">Canterbury-Bankstown</label>
        </p>
        <p>
        <input type="checkbox" id="c3" name="cb">
        <label for="c3">Central Business District</label>
        </p>
        <p>
        <input type="checkbox" id="c4" name="cb">
        <label for="c4">Eastern Suburbs</label>
        </p>
        <p>
        <input type="checkbox" id="c5" name="cb">
        <label for="c5">Forest District</label>
        </p>
        <p>
        <input type="checkbox" id="c6" name="cb">
        <label for="c6">Greater Western Sydney</label>
        </p>
        <p>
        <input type="checkbox" id="c7" name="cb">
        <label for="c7">Hills District</label>
        </p>
        <p>
        <input type="checkbox" id="c8" name="cb">
        <label for="c8">Inner West</label>
        </p>
        <p>
        <input type="checkbox" id="c9" name="cb">
        <label for="c9"> Macarthur</label>
        </p>
        <p>
        <input type="checkbox" id="c10" name="cb">
        <label for="c10">Central Business</label>
        </p>
        <p>
        <input type="checkbox" id="c11" name="cb">
        <label for="c11">Main Market</label>
        </p>
        <p>
        <input type="checkbox" id="c12" name="cb">
        <label for="c12">Eastern</label>
        </p>
        </div>
        </div>
        </div>
        </div>
        <div class="accordion" id="accordiontwo">
        <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categories</button>
        <div id="collapseTwo" class="collapse" data-parent="#accordiontwo">
        <div class="filter-checkbox">
        <p>
        <input type="checkbox" id="c13" name="cb">
        <label for="c13"> Breakfast</label>
        </p>
        <p>
        <input type="checkbox" id="c14" name="cb">
        <label for="c14">Lunch</label>
        </p>
        <p>
        <input type="checkbox" id="c15" name="cb">
        <label for="c15"> Dinner</label>
        </p>
        <p>
        <input type="checkbox" id="c16" name="cb">
        <label for="c16">Cafe's</label>
        </p>
        <p>
        <input type="checkbox" id="c17" name="cb">
        <label for="c17">Delivery</label>
        </p>
        </div>
        </div>
        </div>
        </div>
        <div class="accordion" id="accordionthree">
        <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Cuisine</button>
        <div id="collapseThree" class="collapse" data-parent="#accordionthree">
        <div class="filter-checkbox">
        <p>
        <input type="checkbox" id="c18" name="cb">
        <label for="c18">Pizza</label>
        </p>
        <p>
        <input type="checkbox" id="c19" name="cb">
        <label for="c19">Drinks & Beer Restaurants</label>
        </p>
        <p>
        <input type="checkbox" id="c20" name="cb">
        <label for="c20">Cakes & Desserts</label>
        </p>
        <p>
        <input type="checkbox" id="c21" name="cb">
        <label for="c21">Sushi</label>
        </p>
        <p>
        <input type="checkbox" id="c22" name="cb">
        <label for="c22">Fast Food</label>
        </p>
        <p>
        <input type="checkbox" id="c23" name="cb">
        <label for="c23">Shawarma</label>
        </p>
        <p>
        <input type="checkbox" id="c24" name="cb">
        <label for="c24">Fish</label>
        </p>
        <p>
        <input type="checkbox" id="c25" name="cb">
        <label for="c25">Lunch</label>
        </p>
        <p>
        <input type="checkbox" id="c26" name="cb">
        <label for="c26">Coffee Cafe’s</label>
        </p>
        <p>
        <input type="checkbox" id="c27" name="cb">
        <label for="c27">Cheese Tika</label>
        </p>
        <p>
        <input type="checkbox" id="c28" name="cb">
        <label for="c28">Samosa and Pakodas</label>
        </p>
        <p>
        <input type="checkbox" id="c29" name="cb">
        <label for="c29">Chinese</label>
        </p>
        </div>
        </div>
        </div>
        </div>
        <div class="accordion" id="accordionfive">
        <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Restaurants offers</button>
        <div id="collapseFive" class="collapse" data-parent="#accordionfive">
        <div class="filter-checkbox">
        <p>
        <input type="checkbox" id="c39" name="cb">
        <label for="c39">10% off</label>
        </p>
        <p>
        <input type="checkbox" id="c40" name="cb">
        <label for="c40">20% off</label>
        </p>
        <p>
        <input type="checkbox" id="c41" name="cb">
        <label for="c41">30% off</label>
        </p>
        <p>
        <input type="checkbox" id="c42" name="cb">
        <label for="c42">40% off</label>
        </p>
        <p>
        <input type="checkbox" id="c43" name="cb">
        <label for="c43">50% off</label>
        </p>
        <p>
        <input type="checkbox" id="c44" name="cb">
        <label for="c44">60% off</label>
        </p>
        <p>
        <input type="checkbox" id="c45" name="cb">
        <label for="c45">70% off</label>
        </p>
        <p>
        <input type="checkbox" id="c46" name="cb">
        <label for="c46">80% off</label>
        </p>
        </div>
        </div>
        </div>
        </div>
        <div class="accordion" id="accordionsix">
        <div class="location">
        <button class="filter-dropdown" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Rating</button>
        <div id="collapseSix" class="collapse" data-parent="#accordionsix">
        <div class="filter-checkbox">
        <p>
        <input type="checkbox" id="c47" name="cb">
        <label for="c47" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </p>
        <p>
        <input type="checkbox" id="c48" name="cb">
        <label for="c48" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </p>
        <p>
        <input type="checkbox" id="c49" name="cb">
        <label for="c49" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </p>
        <p>
        <input type="checkbox" id="c50" name="cb">
        <label for="c50" class="rating-color"><i class="fas fa-star"></i><i class="fas fa-star"></i></label>
        </p>
        <p>
        <input type="checkbox" id="c51" name="cb">
        <label for="c51" class="rating-color"><i class="fas fa-star"></i></label>
        </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
            <div class="col-lg-9 col-md-8">
            <div class="col-lg-12 col-md-12 m-left m-right">
            <div class="all-meals-show">
            <div class="new-heading">
            <h1> All Meals </h1>
            <div class="loc-title">
            Meals In Your Area
            </div>
            </div>
            </div>
            </div>
            <div class="row">
                <% products.forEach(eachProduct => { %> 
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="all-meal">
                            <div class="top">
                                <a href="productDetail-<%=eachProduct.id%>"><div class="bg-gradient"></div></a>
                                <div class="top-img">
                                    <img src="<%=eachProduct.images[0]%>" alt="">
                                </div>
                                <div class="logo-img">
                                    <img src="<%=eachProduct.user.avatar%>" alt="">
                                </div>
                                <div class="top-text">
                                    <div class="heading"><h4><a href="productDetail-<%=eachProduct.id%>"> <%= eachProduct.title %> </a></h4></div>
                                    <div class="sub-heading">
                                        <h5><a href="restaurant_detail.html"><%= eachProduct.category %></a></h5>
                                        <p><%= eachProduct.price %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                            <div class="bottom-text">
                            <div class="delivery"><i class="fas fa-shopping-cart"></i>Delivery Free : <%= eachProduct.deliveryCharge %> </div>
                            <div class="time"><i class="far fa-clock"></i>Delivery Time : <%= eachProduct.deliveryTime %></div>
                            <div class="star">
                            <span> Comments </span>
                            <div class="comments"><a href="#"><i class="fas fa-comment-alt"></i> <%= eachProduct.comments.length %> </a></div>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                <% }) %>
           
            </div>
            </div>
        </div>
        </div>
    </section>


<%- include('./partials/footer') %>