<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>

<section class="all-partners">
	<div class="container">
	<div class="row" style="margin-top: -60px;">
	<div class="col-lg-8 col-md-8">
	<div id="sync1" class="owl-carousel owl-theme">
		<% product.images.forEach(eachImg => { %> 
			<div class="item">
				<img src="<%=eachImg%>" alt="">
			</div>
		<%}) %>
			
	</div>
	<div id="sync2" class="owl-carousel owl-theme">
		<% product.images.forEach(eachImg => { %> 
			<div class="item">
				<img src="<%=eachImg%>" alt="">
			</div>
		<%}) %>
	</div>

	<div class="published-like-comments">
	<div class="published-time">
	<!-- <span><i class="far fa-calendar-alt"></i> Member since August 2018</span> -->
	</div>
	<div class="like-comments">
	<ul>
	<li>

	</li>
	<li>
	<span class="views" data-toggle="tooltip" data-placement="top" title="Comments">
	<i class="fas fa-comment-alt"></i>
	<ins> <%= product.comments.length %> </ins>
	</span>
	</li>

	</ul>
	</div>
	</div>
	<div class="all-tabs">
	<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item" role="presentation">
	<a href="#comments" class="nav-link active" aria-controls="comments" role="tab" data-toggle="tab"><%= product.comments.length %> Comments</a>
	</li>
	<!-- <li class="nav-item" role="presentation">
	<a href="#reviews" class="nav-link" aria-controls="reviews" role="tab" data-toggle="tab">03 Reviews</a>
	</li> -->
	</ul>
	<div class="tab-content">
	<div class="tab-pane active" role="tabpanel" id="comments">
	<div class="comment-post">
	<div class="post-items">
	<div class="img-dp">
	<i class="fas fa-user"></i>
	</div>
	<form action="addComment-<%=product.id%>" method="POST">
	<input type="text" class="post-input" name="commentText" placeholder="Write a comment">
	<input class="submit-btn btn-link" type="submit" value="Post Comment">
	</form>
	</div>
	</div>
	<% product.comments.forEach(eachCmt => { %> 
		<div class="main-comments">
			<div class="comment-1">
				<div class="user-detail-heading">
					
					<a href="">
						<% if(eachCmt.userImage){%> 
							<img src="<%=eachCmt.userImage%>" alt="">
						<%}else{%> 
							
						<% } %>
					</a>
					<h4> <%= eachCmt.username %> </h4>
				</div>
				<div class="reply-time">
					<% var date1 = eachCmt.timeOfUploading; %> 
					<% var date2 = new Date(); %> 
					<% var whatToWrite = 'just now' %>
					<% var Difference_In_Time = date2.getTime() - date1.getTime(); %> 
					<% var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24); %>
					<% Difference_In_Time_Hours = Difference_In_Time / (1000 * 3600) %>
					<% Difference_In_Time_Mins = Difference_In_Time / (1000 * 60) %>
					<% var months = ['Jan','Feb','Mar','April','May','June','July','August','Sept','Oct','Nov','Dec'] %>
					
					<% if( parseInt(Difference_In_Days) >= 7 ){ %>
					<% whatToWrite = each.timeOfUploading.getDate() + ' ' + months[each.timeOfUploading.getMonth()] + ' ' + each.timeOfUploading.getFullYear() %>  
					<%}else if(Difference_In_Days > 1){ %> 
					<% whatToWrite = parseInt(Difference_In_Days) + ' days ago' %>
					<%}else if( Difference_In_Time_Hours > 1 ){ %> 
					<% whatToWrite = parseInt(Difference_In_Time_Hours) + ' hrs ago ' %> 
					<%}else { %> 
					<% whatToWrite = parseInt(Difference_In_Time_Mins) + ' mins ago' %>
					<%} %>
					<p><i class="far fa-clock"></i> <%= whatToWrite %> </p>
				</div>
				<div class="comment-description">
					<p> <%= eachCmt.commentText %> </p>
				</div>
			</div>
		</div>	
	<%}) %>

	</div>
	</div> -->
	</div>
	</div>
	<div class="col-lg-4 col-md-4">
	<div class="right-side">
	<div class="new-heading t-bottom" style="display: flex; flex-direction: row;">
	<h1 style="flex: 1;"><%= product.title %></h1>
	<% var extraClass = "btn-success" %>
	<% var btnText = "Available" %>
	<% if(product.isAvailable == "notAvailable"){%> 
		<% extraClass = "btn-danger" %>
		<% btnText = "Not " + btnText %>
	<%} %>
	<button style="color: white;flex : 1;" class="btn <%=extraClass%>" > <%= btnText %> </button>
	</div>
	<div class="about-meal">
	<h4> Description</h4>
	<p><span> <%= product.description %>  </span></p>
	</div>
	<div class="price">
	<span>$ <%= product.price %></span>
	</div>
	<% if(user){%> 
		<% if(product.user.id != user.id){ %> 
			<% if(product.isAvailable == "available"){%> 
				<form action="/addToCart-<%=product.id%>" method="POST">
					<div class="Qty">
						<div class="input-group">
							<% var cq = 1 %>
							<% if(quantity){ %> 
								<% cq = parseFloat(quantity) %>
							<% } %>
							<input type="number" value="<%=cq%>" name="quantity" placeholder="1" min="1">
						</div>
					</div>
					<div class="order-now-check">
						<a href="">
							<button type="submit" class="on-btn btn-link" onclick="">Add to Cart</button>
						</a>
					</div>	
				</form>
			<%} %>

	<%} %>
	<%} %>

	</div>
	</div>
	</div>
	</div>
</section>

<%- include('./partials/footer') %>

</body>
</html>
