<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>


    <section class="all-partners">
        <div class="container">
        <div class="row">
      
            <div class="col-lg-12 col-md-12">
            <div class="col-lg-12 col-md-12 m-left m-right">
            <div class="all-meals-show">
            <div class="new-heading">
            <h1> All Meals </h1>
            <div class="loc-title">
            Meals In Your Area
            </div>
            </div>
            </div>
            </div>
            <div class="row">
                <% products.forEach(eachProduct => { %> 
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="all-meal">
                            <div class="top">
                                <a href="productDetail-<%=eachProduct.id%>"><div class="bg-gradient"></div></a>
                                <div class="top-img">
                                    <img src="<%=eachProduct.images[0]%>" alt="">
                                </div>
                                <div class="top-text">
                                    <div class="heading" style="display: flex; flex-direction: row;">
                                        <h4 style="flex : 1;"><a href="productDetail-<%=eachProduct.id%>"> <%= eachProduct.title %> </a></h4>
                                        <% var extraClass = "btn-success" %>
                                        <% var btnText = "Available" %>
                                        <% if(eachProduct.isAvailable == "notAvailable"){%> 
                                            <% extraClass = "btn-danger" %>
                                            <% btnText = "Not " + btnText %>
                                        <%} %>
                                        <button style="color: white;margin-right: 20px;" class="btn <%=extraClass%>" > <%= btnText %> </button>
                                    </div>
                                    <div class="sub-heading">
                                        <h5><a href="productDetail-<%=eachProduct.id%>"><%= eachProduct.category %></a></h5>
                                        <p><%= eachProduct.price %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom">
                            <div class="bottom-text"><div class="star">
                            <span> Comments </span>
                            <div class="comments"><a href="#"><i class="fas fa-comment-alt"></i> <%= eachProduct.comments.length %> </a></div>
                            </div>
                            </div>
                            </div>
                        </div>
                        </div>
                <% }) %>
           
            </div>
            </div>
        </div>
        </div>
    </section>


<%- include('./partials/footer') %>