<%- include('./partials/header') %>
  <body oncontextmenu="return false;">
    <header id="header" class="default">
      <%- include('./partials/topNavbar') %>
      <%- include('./partials/topMenu') %>
      <div class="container">
        <%- include('./partials/flashMessage') %>
      </div>
    </header>

<section class="title-bar">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="left-title-text">
<h3>My Account</h3>
</div>
</div>
<div class="col-md-6">
<div class="right-title-text">
<ul>
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item"><a href="my_profile_dashbord.html">My Account</a></li>
<li class="breadcrumb-item active" aria-current="page">Setting</li>
</ul>
</div>
</div>
</div>
</div>
</section>


<%- include('./partials/myAccountSection') %>

<section class="all-profile-details">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-12">
<div class="left-tab-links">
<div class="nav nav-pills nav-stacked nav-tabs ui vertical menu fluid">
<a href="#edit-profile" data-toggle="tab" class="item user-tab cursor-pointer active">Edit Profile</a>
<a href="#change-password" data-toggle="tab" class="item user-tab cursor-pointer">Change Password</a>
<a href="#delete-account" data-toggle="tab" class="item user-tab cursor-pointer" id="bookmarks" data-tab="bookmarks">Deactivate Account</a>
</div>
</div>
</div>
<div class="col-lg-7 col-md-8 col-12">
<div class="tab-content">
<div class="tab-pane active" id="edit-profile">
<div class="timeline">
<div class="tab-content-heading">
<h4>Profile Information</h4>
<a href="/index"><i class="fas fa-angle-double-left"></i>Back to Profile</a>
</div>
<div class="edit-profile">
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="setting-dt">
            <h4>Avatar</h4>
            <% var avatar = "images/profile/avatar.jpg" %>
            <% if(user.avatar){%> 
                <% avatar = user.avatar %>
            <%} %>
            <div class="avtar">
                <img src="<%=avatar%>" alt="">
            </div>
            <div class="upload-avatar">
                <div class="input-heading">Upload a New Avatar*</div>
                <div class="input-container">
                    <input class="file-upload-input" type="file" name="image" id="image" >
                    <button class="browse-btn">
                        Choose File
                    </button>
                    <span class="file-info">Upload a file</span>
                </div>
            </div>
        </div>
        <br>
        <!-- <div class="setting-dt b-top padding-b">
            <h4>Background Image</h4>
            <div class="background-img">
                <img src="images/profile/bg.jpg" alt="">
            </div>
            <div class="upload-avatar">
                <div class="input-heading">Upload a New Background Image*</div>
                <div class="input-container">
                    <input class="file-upload-input" type="file" name="backgroundImage" id="image" >
                    <button class="browse-btn">
                        Choose File
                    </button>
                    <span class="file-info">Upload a file</span>
                </div>
            </div>
        </div> -->
        <div class="form-group">
            <label for="nameUser">Full Name*</label>
            <input type="text" required value="<%=user.fullName%>" name="fullName" class="video-form" id="nameUser" placeholder="Full Name">
        </div>
        <div class="form-group">
            <label for="locationUser">Where Are You Live?*</label>
            <div class="field-input">
                <input type="text" required value="<%=user.address%>" name="address" class="video-form" id="locationUser" placeholder="Address">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="form-group">
            <label for="textareaDescription">Description*</label>
            <textarea class="text-area" required name="description" id="textareaDescription" placeholder="Description">
                <%=user.description%>
            </textarea>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address*</label>
            <input type="email" required class="video-form" value="<%=user.email%>" name="email" id="emailAddress" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="telPhone">Phone Number*</label>
            <input type="text" required class="video-form" value="<%=user.phoneNumber%>" name="phoneNumber" id="telPhone" placeholder="Phone Number">
        </div>
        <div class="form-group">
            <label for="webSite">Website*</label>
            <input type="text" required class="video-form" value="<%=user.website%>" name="website" id="webSite" placeholder="Website">
        </div>
        <button type="submit" class="change-btn btn-link">Save Changes</button>
    </form>
</div>
</div>
</div>
<div class="tab-pane" id="notification-setting">
<div class="profile-about">
<div class="tab-content-heading">
<h4>Notification Setting</h4>
<a href="/index"><i class="fas fa-angle-double-left"></i>Back to Profile</a>
</div>
<div class="noti-setting">
<div class="noti-all-st">
<ul>
<li>
<div class="noti-st">
<div class="noti-left-t">
Activity on my photos
</div>
<div class="noti-right-b">
<div class="custom-control custom-switch">
<input type="checkbox" class="custom-control-input" id="customSwitch1">
<label class="custom-control-label" for="customSwitch1"></label>
</div>
</div>
</div>
</li>
<li>
<div class="noti-st">
<div class="noti-left-t">
Activity on my reviews
</div>
<div class="noti-right-b">
<div class="custom-control custom-switch">
<input type="checkbox" class="custom-control-input" id="customSwitch2">
<label class="custom-control-label" for="customSwitch2"></label>
</div>
</div>
</div>
</li>
<li>
<div class="noti-st">
<div class="noti-left-t">
Someone follows me
</div>
<div class="noti-right-b">
<div class="custom-control custom-switch">
<input type="checkbox" class="custom-control-input" id="customSwitch3">
<label class="custom-control-label" for="customSwitch3"></label>
</div>
</div>
</div>
</li>
<li>
<div class="noti-st">
<div class="noti-left-t">
Update from Natto
</div>
<div class="noti-right-b">
<div class="custom-control custom-switch">
<input type="checkbox" class="custom-control-input" id="customSwitch4">
<label class="custom-control-label" for="customSwitch4"></label>
</div>
</div>
</div>
</li>
<li>
<div class="noti-st">
<div class="noti-left-t">
Hide my profile from search engine
</div>
<div class="noti-right-b">
<div class="custom-control custom-switch">
<input type="checkbox" class="custom-control-input" id="customSwitch5">
<label class="custom-control-label" for="customSwitch5"></label>
</div>
</div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="tab-pane" id="change-password">
<div class="timeline">
<div class="tab-content-heading">
<h4>Change Password</h4>
<a href="/index"><i class="fas fa-angle-double-left"></i>Back to Profile</a>
</div>
<div class="edit-profile">
    <form method="POST" action="/changePassword">
        <div class="form-group">
            
            <div class="form-group">
                <label for="newPassword">New Password*</label>
                <input type="password" class="video-form" required name="password" id="newPassword" placeholder="Enter New Password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password*</label>
                <input type="password" class="video-form" required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            </div>
        </div>
    <button type="submit" class="change-btn btn-link">Save Password</button>
    </form>
</div>
</div>
</div>
<div class="tab-pane" id="delete-account">
<div class="timeline">
<div class="tab-content-heading">
<h4>Deactivate Account</h4>
<a href="/index"><i class="fas fa-angle-double-left"></i>Back to Profile</a>
</div>
<div class="edit-profile">
<form>
<div class="form-group">
<label for="yourPassword">Your Password*</label>
<input type="password" class="video-form" id="yourPassword" placeholder="Enter Your Password">
</div>
<button type="submit" class="change-btn btn-link">Deactivate Account</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<%- include('./partials/footer') %>